@model Falcon.Domain.Models.Freelancer
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_FalconSocialLayout.cshtml";
    var messages = Model.PrivateMessages1;
    var ftp = "ftp://falcon:falcon@localhost";
}

<div class="container">
    <div class="media messages-container">
        <div class="messages-list pull-left">
            <div class="panel panel-default">
                <ul class="list-group">
                    @{
                        foreach (var pm in messages)
                        {
                            <li class="list-group-item active">
                                <a href="#">
                                    <div class="media">
                                        <div class="media-object pull-left">
                                            <img src="@ftp@pm.Freelancer.Member.Document.path" width="50" alt="" />
                                        </div>
                                        <div class="media-body">
                                            <span class="date">@pm.date</span>
                                            <span class="user">@pm.Freelancer.Member.username</span>
                                            <div class="message">@pm.body</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="media-body">
            <div class="panel panel-default share">
                <div class="input-group">
                    <div class="input-group-btn">
                        <a class="btn btn-primary" href="#">
                            <i class="fa fa-envelope"></i> Send
                        </a>
                    </div>

                    <!-- /btn-group -->
                    <input type="text" class="form-control share-text" placeholder="Write message..." />
                </div>

                <!-- /input-group -->
            </div>
            @{
                foreach (var pm in messages)
                {
                    <div class="media">
                        <div class="pull-left media-object">
                            <a href="#">
                                <img src="@ftp@pm.Freelancer.Member.Document.path" width="60" alt="" />
                            </a>
                        </div>
                        <div class="media-body message">
                            <div class="panel panel-default">
                                <div class="panel-heading panel-heading-white">
                                    <div class="pull-right">
                                        <small class="text-muted">at @pm.date</small>
                                    </div>
                                    <a href="#">@pm.Freelancer.Member.UserName</a>
                                </div>
                                <div class="panel-body">
                                    @pm.body
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>