@using Falcon.Data
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@model Falcon.Domain.Models.Mission

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_FalconLayout_v2.cshtml";
    var path = "ftp://falcon:falcon@localhost/"+Model.Owner.Document.path;
    var id = User.Identity.GetUserId<int>();
    var manager = HttpContext.Current.GetOwinContext().GetUserManager<MembersManager>();
    var user = manager.FindById(id);
    var condition = 1;
    if (user.Freelancer != null)
    {
        if (user.Freelancer.Missions1.Contains(Model) )
        {
            condition = 2;
        }
        else { condition = 3; }
        
    }
    
}


<div class="main clearfix">
    <img class="opening-header" src="~/Content/v2/images/mission-header.jpg" alt="" />
    <div class="content">
        <div class="post opening-info">
            <div class="post-header">
                <h2>@Model.title</h2>
                <p class="opening-type contract">@Model.budget  $</p>
                <p class="panel-icon">  Status of mission :  @Model.status  </p>
                <p class="posted-on">posted on <span>@Model.postDate</span></p>
            </div>
            <!-- .post-header -->
            <table>
                <tr>
                    <th scope="row">Owner</th>
                    <td><p>@Model.Owner.Member.username</p></td>
                </tr>
                <tr>
                    <th scope="row">Category</th>
                    <td><p>@Model.Category.name</p></td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>
                        <p>@Model.description</p>

                    </td>
                </tr>
                <tr>
                    <th scope="row">Planned Start</th>
                    <td><p>@Model.plannedStart</p></td>
                </tr>
                <tr>
                    <th scope="row">Duration</th>
                    <td><p>@Model.duration</p></td>
                </tr>
                <tr>
                    <th scope="row">Deadline</th>
                    <td><p>@Model.deadline</p></td>
                </tr>

            </table>
            <div class="post-footer"><a class="save-job" href="#">Save job</a><a class="print" href="#">Print this job</a><a class="report" href="#">Report this job</a><a class="edit-link" href="@Url.Action("Edit",new{id=Model.idMission})">[Edit]</a></div>
            <!-- .post-footer -->
        </div>
        <!-- .post opening-info -->
        
        @switch (condition)
        {
            case 1:
                <a href="@Url.Action("Edit","Mission",new{id=Model.idMission})"><button data-enabled="false" class="submit-request">Edit</button></a>
                break;
            case 2:
                <button class="submit-request" disabled="disabled" >Already Applied</button>
                break;
            case 3:
            <button class="submit-request" data-enabled="true">Submit request</button>
                break;
        } 
        
        
    </div>
    <!-- .content -->
    <!-- .content -->
    <aside class="sidebar">

        <!-- .add-opening -->
        <div class="widget">
            <h3>Interested ?</h3>
            
            @switch (condition)
            {
                case 1:
                    <a href="@Url.Action("Edit","Mission",new{id=Model.idMission})"><button data-enabled="false" class="submit-request">Edit</button></a>
                    break;
                case 2:
                    <button class="submit-request" disabled="disabled">Already Applied</button>
                    break;
                case 3:
                <button class="submit-request" data-enabled="true" id="apply">Submit request</button>
                    <p>and wait for the confirmation.</p>
                    break;
            }
            
        </div>
        <div class="widget company-widget">
            <h3>@Model.Owner.companyName</h3>
            <div class="company-meta">
                <img src="@path" alt="Company" />

                <p class="company-location">@Model.Owner.Member.city</p>
                <a class="company-link" href="@Model.Owner.Member.country">@Model.Owner.Member.country</a>
                <p class="description">@Model.Owner.companyDescription</p>
            </div>
            <!-- .company-meta -->
            <div class="contacts">
                <ul class="phones">
                    <li>71 674 890</li>
                    <li>70 767 807</li>
                </ul>
                <ul class="emails">
                    <li>@Model.Owner.Member.email</li>

                </ul>
            </div>
            <!-- ,contacts -->
        </div>
        <!-- .company-widget -->
        <div class="widget company-openings">
            <h3>Similar Company</h3>
            <ul>
                <li class="company-opening">
                    <a href="opening.html"><img class="opening-logo" src="~/Content/v2/images/opening-logo.png" alt="Logo" /></a>
                    <h2 class="opening-name"><a href="opening.html">Graphic Designer</a></h2>
                    <p><a href="company_profile.html" class="company">Envato</a></p>
                </li>
                <!-- .company-opening -->
                <li class="company-opening">
                    <a href="opening.html"><img class="opening-logo" src="~/Content/v2/images/opening-logo.png" alt="Logo" /></a>
                    <h2 class="opening-name"><a href="opening.html">Web Developer</a></h2>
                    <p><a href="company_profile.html" class="company">Envato</a></p>
                </li>
                <!-- .company-opening -->
                <li class="company-opening">
                    <a href="opening.html"><img class="opening-logo" src="~/Content/v2/images/opening-logo.png" alt="Logo" /></a>
                    <h2 class="opening-name"><a href="opening.html">UX Designer</a></h2>
                    <p><a href="company_profile.html" class="company">Envato</a></p>
                </li>
                <!-- .company-opening -->
            </ul>
            <p class="widget-footer"><a href="opening.html">See all openings of this company</a></p>
        </div>
        <!-- .company-openings -->
    </aside>
    <!-- .sidebar -->
</div>

<script src="~/Content/js/jquery-1.9.1.js"></script>
<script>
    $(".submit-request").on("click", function () {
        if ($(this).attr('data-enabled') === "false")
            return false;
        $.ajax({
            type: "POST",
            url: '@Url.Action("ApplyForMission")',
            data: { id: "@id", idMission: "@Model.idMission" }
        })
                .done(function (msg) {
                    addmessage();
                });
    });
    function addmessage() {
        $(".submit-request").text("Submitted");
    }
</script>