@using Falcon.Domain.Models
@model IEnumerable<Falcon.Domain.Models.Mission>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FalconLayout_v2.cshtml";
    List<Category> categories = ViewBag.Categories;
    List<string> cities = ViewBag.locations;
    IEnumerable<Mission> missions = Model;
    var path = "ftp://falcon:falcon@localhost/";
}



<div class="wrapper full-width left-sidebar">
    @Html.Partial("_MissionSearch", categories)
    <!-- .search-wrapper -->
    <div class="main clearfix">
        <div class="content">
            <div class="post">
                <div class="post-header">
                    <p class="results"><span>@missions.Count()</span> Missions</p>
                    <label class="sort">
                        Sort:
                        <select>
                            <option>By date</option>
                            <option>By name</option>
                        </select>
                    </label>
                    <!-- .sort -->
                </div>
                <!-- .post_header -->
                <div class="table-wrapper">
                    <table class="openings">
                        @{
                            foreach (Mission m in @missions)
                            {
                                <tr class="opening">
                                    <td class="opening-logo">
                                        <div class="star"></div>
                                        <a href="#"><img src="@path@m.Owner.Document.path" alt="Logo" width="97" height="97" /></a>
                                    </td>
                                    <td class="opening-meta">
                                        <h2><a href="@Url.Action("Details","Mission",new{id=@m.idMission})" class=" opening-name">@m.title.ToUpperInvariant()</a></h2>
                                        <h3><a href="company_profile.html" class="company">@m.Owner.companyName.ToUpperInvariant()</a></h3>
                                    </td>
                                    <td class="opening-type"><p class="freelance">@m.budget$</p></td>
                                    <td class="opening-location"><p><a href="#">@m.deadline</a></p></td>
                                </tr>

                            }


                        }
                    </table>
                    <!-- .openings -->
                </div>
                <!-- .table-wrapper -->
            </div>
            <!-- .openings -->
            <nav class="paging">
                <ul>
                    <li class="neighbour"><a href="home_v.1.html">Prev</a></li>
                    <li class="current"><a href="home_v.1.html">1</a></li>
                    <li><a href="home_v.1.html">2</a></li>
                    <li><a href="home_v.1.html">3</a></li>
                    <li><span class="dots">...</span></li>
                    <li><a href="home_v.1.html">10</a></li>
                    <li><a href="home_v.1.html">11</a></li>
                    <li><a href="home_v.1.html">12</a></li>
                    <li class="neighbour"><a href="home_v.1.html">Next</a></li>
                </ul>
            </nav>
            <!-- .paging -->
        </div>
        <!-- .content -->
        <aside class="sidebar">
            <div class="widget add-opening">
                <button>Add opening</button>
                <div class="plus">+</div>
            </div>
            <!-- .add-opening -->
            <div class="widget newsletter">
                <h3>Newsletter</h3>
                <input name="email" type="email" />
                <p class="info"><span class="required">*</span> You will get a notification email</p>
            </div>
            <!-- .newsletter -->
            <div class="widget">
                <h3>Text widget</h3>
                <p>Proin at risus augue. Proin sapien est, convallis vitae ligula vitae, fermentum viverra erat.</p>
            </div>
            <!-- text widget -->
            <div class="widget video">
                <iframe width="242" height="151" src="http://www.youtube.com/embed/H1pWTxVVc2E?list=UU5L2rnrf7WCd8GaqsZvnJOw" frameborder="0" allowfullscreen></iframe>
                <p class="video-title">Video title usage example</p>
            </div>
            <!-- .video -->
        </aside>
        <!-- .sidebar -->
    </div>
    <!-- .main -->


</div>
<script src="~/Content/js/jquery-1.9.1.js"></script>
<script>
    $(document).ready(function () {
        $(".post .table-wrapper").css("height", "auto");
        $(".post .table-wrapper .openings").css("position", "inherit");
    });
</script>