@using System.Web.UI.WebControls
@model Falcon.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>Join Falcon Freelance Community</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    <link href="~/Content/assets/css/icons/icons.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/plugins.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/style.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <!-- END  MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href="~/Content/assets/css/animate-custom.css" rel="stylesheet">
    <!-- END PAGE LEVEL STYLE -->
    <script src="~/Content/assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body class="login fade-in" data-page="signup">
    <!-- START SIGNUP BOX -->
    <div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <div class="login-box clearfix animated flipInY">
                    <div class="page-icon animated bounceInDown">
                        <img src="~/Content/assets/img/account/register-icon.png" alt="Register icon" />
                    </div>
                    <div class="login-logo">
                        <a href="#">
                            <img src="~/Content/assets/img/account/login-logo.png" alt="Company Logo" />
                        </a>
                        <div id="regType">
                            <button id="type" style="color: green">Signup as a Mission Owner <i class="fa fa-building"></i></button>
                        </div>
                    </div>
                    <hr>
                    <div class="login-form">
                        <!-- End Error box -->
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.TextBoxFor(m => m.Email, new { placeholder="Email Address", @class = "input-field" })
                            @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "input-field" })
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "input-field" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "input-field" })
                            @Html.ValidationSummary("", new { @class = "alert alert-danger hide" })
                            @Html.HiddenFor(m => m.UserType)
                            <button type="submit" class="btn btn-login">Sign Up</button>
                        }
                        <div class="login-links">
                            <a href="password_forgot.html">Forgot password?</a>
                            <br>
                            <a href="login.html">Already have an account? <strong>Sign In</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SIGNUP BOX -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src="~/Content/assets/plugins/jquery-1.11.js"></script>
    <script src="~/Content/assets/plugins/jquery-migrate-1.2.1.js"></script>
    <script src="~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- END MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/assets/plugins/backstretch/backstretch.min.js"></script>
    <script src="~/Content/assets/js/account.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<script>
    $(document).ready(function () {
        if (($(".alert-danger").find('li').first().css("display")) != "none") {
            $(".alert-danger").prepend("<h4>Error!</h4>");
            $(".alert-danger").removeClass("hide");
        }
    });
    $(document).on('click', '#type', function() {
        if (($("#@Html.IdFor(m=>m.UserType)").attr("value")) === "Owner") {
            $("#@Html.IdFor(m=>m.UserType)").attr("value", "Freelancer");
            $("#type").parent().html('<button id="type" style="color: green">Signup as a Mission Owner <i class="fa fa-building"></i></button>');
        } else {
            $("#@Html.IdFor(m=>m.UserType)").attr("value", "Owner");
            $("#type").parent().html('<button id="type" style="color: blue">Signup as a Freelancer<i class="fa fa-user"></i></button>');
        }
    });
</script>