@using Microsoft.AspNet.Identity
@model Falcon.Domain.Models.Owner

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_FalconLayout_v2.cshtml";
    var picpath = Url.Content("~/Content/v2/images/company-logo.png");
    if (Model.Document != null)
    {
        picpath = "ftp://localhost" + Model.Document.path;
    }
}

<script>
    $(".wrapper").addClass("left-sidebar");
</script>
<div class="main clearfix">
    <img class="opening-header" src="~/Content/v2/images/company-header.jpg" alt="" />
    <div class="content">
        <div class="post about">
            <div class="post-header">
                <h2>About</h2>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        if ((@Model.Member.role.Equals("Owner")) && (User.Identity.GetUserId<int>().Equals(Model.idMember)))
                        {
                            <a class="edit-link" href="@Url.Action("Edit")">[Edit]</a><a class="company-openings" href="">Show my missions</a>
                        }
                    }
                }

            </div>
            <!-- .post-header -->
            <table>
                <tr>
                    <th><i class="fa fa-location-arrow"></i> Address</th>
                    <td>@Model.Member.city - @Model.Member.city </td>
                </tr>
                <tr>
                    <th><i class="fa fa-file-text"></i> Description</th>
                    <td>@Model.companyDescription</td>
                </tr>
                <tr>
                    <th><i class="fa fa-suitcase"></i> Website</th>
                    <td>
                        <p>@Model.Member.country</p>
                    </td>
                </tr>
            </table>
        </div>
        @{
            if (User.Identity.IsAuthenticated)
            {
                if (@Model.Member.role.Equals("Freelancer") || @Model.Member.role.Equals("Owner"))
                {

                    <div class="post">
                        <div class="post-header">
                            <p class="results">@Model.Member.UserName has created <span>@Model.Missions.Count</span> missions.</p>
                        </div>
                        <!-- .post-header -->
                        <div class="table-wrapper">
                            <table class="openings">
                                @foreach (var mission in Model.Missions)
                                {
                                    <tr class="opening">
                                        <td class="opening-logo">
                                            <div class="star"></div>
                                            <a href="opening.html"><img src="~/Content/v2/images/opening-logo.png" alt="Logo" /></a>
                                        </td>
                                        <td class="opening-meta">
                                            <h2><a href="opening.html" class="opening-name">@mission.title</a></h2>
                                            <h3><a href="company_profile.html" class="company">Budget : @mission.budget $</a></h3>
                                        </td>
                                        <td class="opening-type"><p class="freelance">@mission.status</p></td>
                                        <td class="opening-location"><p><a href="#">@mission.Category.name</a></p></td>
                                    </tr>
                                }

                            </table>
                            <!-- .openings -->
                        </div>
                    </div>
                }
            }
        }
    </div>
    <!-- .content -->
    <aside class="sidebar">
        <div class="widget company-widget">
            <h3>@Model.companyName</h3>
            <div class="company-meta">
                <div style="text-align: center">
                    <img style="max-width: 110px;" src="@picpath" alt="@Model.Member.UserName" />
                </div>
                <p class="company-location">@Model.Member.city</p>
                <a class="company-link" href="@Url.Encode(Model.Member.country)">@Model.Member.country</a>
                <p class="description" style="text-align:justify;text-justify: inter-ideograph">@Model.companyDescription</p>
            </div>
            <!-- .company-meta -->
            <div class="contacts">
                <ul class="phones">
                    <li>+216 @Model.Member.PhoneNumber</li>
                </ul>
                <ul class="emails">
                    <li>@Model.Member.Email</li>
                </ul>
            </div>
            <!-- .contacts -->
        </div>
        <div class="widget newsletter">
            <h3>Ask question</h3>
            <input name="email" type="email" />
            <p class="info"><span class="required">*</span> You will get a response by email</p>
        </div>
        <!-- .newsletter -->
    </aside>
    <!-- .sidebar -->
</div>
<!-- .main -->
<script src="~/Content/js/jquery-1.9.1.js"></script>
<script>
    $(document).ready(function () {
        $(".post .table-wrapper").css("height", "auto");
        $(".post .table-wrapper .openings").css("position", "inherit");
    });
</script>

