@using Falcon.Data
@using Falcon.Domain.Models
@using Microsoft.AspNet.Identity
@model Falcon.Domain.Models.CV

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FalconLayout_v2.cshtml";
    /*var manager = new MembersManager(
            new CustomUserStore());
    var user = manager.FindById(User.Identity.GetUserId<int>());*/
    var user = ViewBag.user;
    Freelancer random = ViewBag.random;
    var path = "~/Content/v2/images/freelancer-logo.png";
    if (random.Member.Document != null)
    {
        path = "ftp:/localhost/" + random.Member.Document.path;
    }
}

<div class="main clearfix">
    <div class="content">
        @using (Html.BeginForm("Create", "Cv", new { ViewBag.ReturnUrl }, FormMethod.Post, new { enctype =   "multipart/form-data" }))
        {

            <div class="post edit-company">
                <div class="post-header">
                    <h2>Update your CV</h2>
                </div>
                <!-- .post-header -->
                <ul>
                    <li>

                    </li>
                    <li class="settings-field">
                        @Html.TextAreaFor(model => model.personalStatement, new { placeholder = "Personal Statement" })
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        @Html.TextAreaFor(model => model.skills, new { @placeholder = "Skills" })
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        @Html.TextAreaFor(model => model.workExperience,  new { @placeholder = "Work Experience" })
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        @Html.TextAreaFor(model => model.targetJobs,  new { @placeholder = "Target Jobs" })
                    </li>
                    <li class="settings-field">
                        @Html.TextAreaFor(model => model.languages,  new { @placeholder = "Additional Information" } )
                    </li>
                    <li class="settings-field">
                        <p>Upload your pdf</p>
                        <input type="file" name="mypdf" id="mypdf"/>
                    </li>
                </ul>
            </div>
            <!-- .post edit-company -->
            <input type="submit" value="save" />
            <input type="reset" value="cancel" />
        }
        <!-- form -->
    </div>
    <!-- .content -->
    <aside class="sidebar">
        <div class="widget">
            <h3>Next Step?</h3>
            <p>That's it ! Finish updating your CV and you will be able to use Falcon.</p>
        </div>
        <!-- text widget -->
        <div class="widget company-widget">
            <h3>A Fellow Freelancer</h3>
            <div class="company-meta">
                <div style="text-align: center">
                    <img src="@Url.Content(path)" alt="@random.Member.UserName" />
                </div>
                <div class="count">@random.Missions.Count</div>
                <p class="company-location">@random.Member.city</p>
                <p class="description">@random.Member.firstname</p>
            </div>
            <!-- .contacts -->
        </div>
        <!-- .company-widget -->
    </aside>
    <!-- .sidebar -->
</div>


