@using Falcon.Domain.Models
@model Falcon.Web.Models.FreelancerProfileViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FalconLayout_v2.cshtml";
    Freelancer random = ViewBag.random;
    var path = "~/Content/v2/images/freelancer-logo.png";
    if (random.Member.Document != null)
    {
        path = "ftp:/localhost/" + random.Member.Document.path;
    }
}


<div class="main clearfix">
    <div class="content">
        @using (Html.BeginForm("Create", "Freelancer", new { ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

        <div class="post edit-company">
                <div class="post-header">
                    <h2>Update your profile information</h2>
                </div>
                <!-- .post-header -->
                <ul>
                    <li >
                        <li class="settings-field">
                        <p>Upload your profile picture</p>
                            <input type="file" name="profilepic" id="profilepic" />
                    </li>
                    </li>
                    <li class="settings-field">
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { placeholder = "Firstname" } })
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { placeholder = "Lastname"} })
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { placeholder = "Address"} })
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { placeholder = "City" } })
                    </li>
                </ul>
            </div>
            <!-- .post edit-company -->
            <input type="submit" value="save" />
            <input type="reset" value="cancel" />
        }
        <!-- form -->
    </div>
    <!-- .content -->
    <aside class="sidebar">
        <div class="widget">
            <h3>Next Step?</h3>
            <p>After creating your profile you will add your CV so mission owners will be more interested in picking you.</p>
        </div>
        <!-- text widget -->
        <div class="widget company-widget">
            <h3>A Fellow Freelancer</h3>
            <div class="company-meta">
                <div style="text-align: center">
                    <img src="@Url.Content(path)" alt="@random.Member.UserName" />
                </div>
                <div class="count">@random.Missions.Count</div>
                <p class="company-location">@random.Member.city</p>
                <p class="description">@random.Member.firstname</p>
            </div>
            <!-- .contacts -->
        </div>
        <!-- .company-widget -->
    </aside>
    <!-- .sidebar -->
</div>
