@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <img class="avatar" alt="Avatar" src="~/Content/v2/images/avatar.png" />
    <p>Hi, <span>@User.Identity.GetUserName()</span>!</p>
    <ul class="user-options">
        <li><a href="user_profile_settings.html">@Html.ActionLink("User Profile Settings !", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <img class="avatar" alt="Avatar" src="~/Content/v2/images/login.png" />
    <p><span>@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { title = "Login" })</span></p>
    <img class="avatar" alt="Avatar" src="~/Content/v2/images/register.png" />
    <p><span>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { title = "Register" })</span></p>
}
