@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<!--[if IE 7]><html class = "ie7"><![endif]-->
<!--[if IE 8]><html class = "ie8"><![endif]-->
<!--[if IE 9]><html class = "ie9"><![endif]-->
<!--[if !(IE 7) | !(IE 8) | !(IE 9) ]><!-->
<html>
    <!--<![endif]-->
    <head>
        <title>Falcon Freelance Community</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="~/Content/v2/css/style.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/v2/css/font-awesome.min.css" />
        <script type="text/javascript" src="~/Content/v2/js/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="~/Content/v2/js/script.js"></script>
        <!--[if IE]><script src="js/html5.js"></script><link rel="stylesheet" type="text/css" href="~/Content/v2/css/ie.css"><![endif]-->
    </head>
    <body>
        <div class="wrapper version1">
            <header>
                <div class="site-header">
                    <div class="site-title">
                        <a href="@Url.Action("Index","Home")"><img src="~/Content/v2/images/falcon_logo.png" alt="*" /></a>
                    </div>
                    <!-- .site-title -->
                    <nav class="site-nav">
                        <ul>
                            <li class="current_page_item">
                                <a href="@Url.Action("Index","Home")">Home</a>
                            </li>
                            <li>
                                <a href="#">Freelancers</a>
                                <ul class="sub-menu">
                                    <li><a href="@Url.Action("Index","Account")">Account</a></li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("Details","Freelancer",new{id=User.Identity.GetUserId<int>()})">Profile</a></li>
                                    }
                                    
                                    <li><a href="@Url.Action("Index","Mission")">Search For A Mission</a></li>
                                    <li><a href="@Url.Action("Timeline","Social")">Social Network</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Owners</a>
                                <ul class="sub-menu">
                                    <li><a href="@Url.Action("Index","Account")">Account</a></li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("Details","Owner",new{id=User.Identity.GetUserId<int>()})">Profile</a></li>
                                    }

                                    <li><a href="@Url.Action("Create","Mission")">Create A Mission</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- .site-nav -->
                    <div class="user-area">
                        @Html.Partial("_FalconLoginPartial")
                        <!-- .user-options -->
                    </div>
                    <!-- .user-area -->
                </div>
                <!-- site-header -->
            </header>
            <!-- header -->
            @RenderBody()

            <footer>
                <div class="site-footer">
                    <div class="site-title">
                        <a href="@Url.Action("Index","Home")"><img src="~/Content/v2/images/logo.png" alt="*" /></a>
                        <h1><a href="@Url.Action("Index","Home")">Falcon</a></h1>
                    </div>
                    <!-- .site-title -->
                    <nav class="site-nav">
                        <ul>
                            <li><a href="http://esprit.ens.tn">About</a></li>
                        </ul>
                    </nav>
                    <!-- .site-nav -->
                    <div class="links"><a class="facebook" href="https://www.facebook.com/chaker.laaribi"></a></div>
                    <!-- .links -->
                </div>
                <!-- .site-footer -->
            </footer>
            <!-- footer -->
        </div>
        <!-- .wrapper -->
    </body>
</html>