@using Falcon.Domain.Models
@model IEnumerable<Falcon.Domain.Models.Freelancer>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_FalconLayout_v2.cshtml";
    List<Category> categories = ViewBag.categories;
    List<Mission> missions = ViewBag.missions;
    List<Owner> owners = ViewBag.owners;
    var path = "ftp://falcon:falcon@localhost/";
}
<script>
    $(".wrapper").addClass("with-slider version2");
</script>
<div class="slider">
    <div class="slide slide-1">
        <img class="slide-img" src="~/Content/v2/images/slide1.jpg" alt="" />
        <h2>Need Work?</h2>
        <p>Register and get free access to latest missions worldwide. Create and submit your CV using few simple steps.</p>
        <a href="@Url.Action("Register", "Account")" class="learn-more">&lt; Learn more &gt;</a>
    </div>
    <div class="slide slide-2">
        <img class="slide-img" src="~/Content/v2/images/slide2.jpg" alt="" />
        <h2>Instant access to latest missions</h2>
        <p>Search for missions by categoy or budget!</p>
        <img class="slider-search-results" src="~/Content/v2/images/slide-search-results.png" alt="" />
    </div>
    <div class="slide slide-3">
        <img class="slide-img" src="~/Content/v2/images/slide3.jpg" alt="" />
        <h2>You want to create missions?</h2>
        <p>Nothing is simplier just register and start getting work done</p>
    </div>
</div>
<!-- .slider -->
<div class="main clearfix">
    <div class="search-wrapper">
        <form class="opening-search" method="post" action="@Url.Action("SearchBYCategoryAndCity", "Mission")">
            <div class="search-top clearfix">
                <div class="center">
                    <div class="search-field">
                        <label>
                            Minimum Budget<br />
                            <input name="keyword" id="keyword" type="text" placeholder="City" />
                        </label>
                    </div>
                    <div class="search-field">
                        <label>
                            Category<br />
                            <input readonly="true" class="with-dropdown" name="category" id="category" type="text" placeholder="Category" />
                        </label>
                        <ul id="dropdown-category" class="dropdown">

                            @{
                                foreach (Category categ in categories)
                                {
                                    <li class="checked">
                                        <!-- <input  name="categories" type="radio" name="categorie" value="@categ.name" />
                                            -->
                                        <div class="mm" name="categoryName">@categ.name</div>

                                    </li>
                                }

                            }
                        </ul>
                        <!-- #category -->
                    </div>
                    <button class="search-button" type="submit"></button>
                </div>
                <!-- .center -->
            </div>
            <!-- .search-top -->
            <div class="search-bottom">
                <div class="center">
                    <label class="full-time">
                        <input class="dark" name="full-time" type="checkbox" />
                        Full-time
                    </label>
                    <label class="contract">
                        <input class="dark" name="contract" type="checkbox" />
                        Contract
                    </label>
                    <label class="freelance">
                        <input class="dark" checked name="freelance" type="checkbox" />
                        Freelance
                    </label>
                </div>
                <!-- .ceneter -->
            </div>
            <!-- .search-bottom -->
        </form>
    </div>
    <script src="~/Content/js/jquery-1.9.1.js"></script>
    <script>
        //$(document).ready(function () {
        //    var all = $("#dropdown-category").find("li");
        //    $("#dropdown-category").find("li").each(function () {

        //        $(this).bind("click", function () {

        //            $(all).each(function() {
        //                $(this).removeClass('checked');
        //            });
        //            $(this).addClass("checked");
        //            var current = $(this).next().find("input").first();
        //            var name = $(this).text().trim();
        //            $("#dropdown-category").find("input").each(function() {
        //                if ($(this) != $(current)) {
        //                    $(this).removeAttr('checked');
        //                }
        //            });
        //            $(current).attr('checked', 'checked');
        //            $("#category").attr('placeholder', name);

        //        });
        //    });
        //});

        $(document).ready(function () {
            $(".checked").click(function () {
                $("#category").val($(this).find(".mm").html());
                $("#category").attr("value", $(this).find(".mm").html());
                $("#dropdown-category").hide();
            });
        });
    </script>
    <div class="content">

        <div class="post">
            <div class="post-header">
                <p class="results"><span>Latest Missions</span> </p>
            </div>
            <!-- .post_header -->
            <div class="table-wrapper">
                <table class="openings">
                    @{
                        foreach (Mission m in @missions)
                        {
                            <tr class="opening">
                                <td class="opening-logo">
                                    <div class="star"></div>
                                    <a href="#"><img src="@path@m.Owner.Document.path" alt="Logo" width="97" height="97" /></a>
                                </td>
                                <td class="opening-meta">
                                    <h2><a href="@Url.Action("Details","Mission",new{id=@m.idMission})" class=" opening-name">@m.title.ToUpperInvariant()</a></h2>
                                    <h3><a href="company_profile.html" class="company">@m.Owner.companyName.ToUpperInvariant()</a></h3>
                                </td>
                                <td class="opening-type"><p class="freelance">@m.budget$</p></td>
                                <td class="opening-location"><p><a href="#">@m.deadline</a></p></td>
                            </tr>

                        }


                    }
                </table>
                <!-- .openings -->
            </div>
        </div>
        <div class="post">
            <div class="post-header">
                <p class="results"><span>Freelancers</span></p>
            </div>
            <div class="table-wrapper">
                <table class="openings">
                    @{
                        foreach (Freelancer freelancer in Model)
                        {
                            <tr class="opening">
                                <td class="opening-logo">
                                    <div class="star"></div>
                                    @if (freelancer.Member.Document != null)
                                    {
                                        <a href="#"><img src="@path@freelancer.Member.Document.path" alt="Logo" width="97" height="97" /></a>
                                    }
                                    else
                                    {
                                        <a href="#"><img src="~/Content/v2/images/freelancer-logo.png" alt="Logo" width="97" height="97" /></a>
                                    }

                                </td>
                                <td class="opening-meta">
                                    <h2><a href="@Url.Action("Details","Freelancer",new{id=@freelancer.idMember})" class=" opening-name">@freelancer.Member.firstname @freelancer.Member.firstname </a></h2>
                                    <h3><a href="" class="company">@freelancer.Member.city</a></h3>
                                </td>
                                <td class="opening-type"><p class="contract">@freelancer.Missions1.Count</p></td>
                            </tr>

                        }


                    }
                </table>
                <!-- .openings -->
            </div>
            <!-- .table-wrapper -->
        </div>
    </div>
    <!-- .content -->
    <aside class="sidebar">
        <div class="widget add-opening">
            <a href="@Url.Action("Create","Mission")"><button>Add Mission</button></a>
            <div class="plus">+</div>
        </div>
        <!-- .add-opening -->
        <div class="widget">
            <h3>Text widget</h3>
            <p>Proin at risus augue. Proin sapien est, convallis vitae ligula vitae, fermentum viverra erat.</p>
        </div>
        <!-- text widget -->
        <div class="widget newsletter">
            <h3>Newsletter</h3>
            <input name="email" type="email" />
            <p class="info"><span class="required">*</span> You will get a notification email</p>
        </div>
        <!-- .newsletter -->
        <div class="widget video">
            <iframe width="242" height="151" src="http://www.youtube.com/embed/H1pWTxVVc2E?list=UU5L2rnrf7WCd8GaqsZvnJOw" frameborder="0" allowfullscreen></iframe>
            <p class="video-title">Video title usage example</p>
        </div>
        <!-- .video -->
    </aside>
    <!-- .sidebar -->
</div>
<!-- .main -->